.box_about{
    display: flex;
    justify-content: center;
    width: 98vw;
}
.conteiner_info{
    overflow: auto;
    border-radius: .5rem;
    width: 70%;
    height: 80vh;
    background-color: #eaecf0;
}

.conteiner_info::-webkit-scrollbar{
    width: 5px;
}

.conteiner_info::-webkit-scrollbar-thumb {
  background-color: #4b4b4b21;
  border-radius: 6px;
}

.box_info_creator{
    display: flex;
    position: relative;
    padding: 5px;
    border-radius: .5rem;
    margin: 1rem;
    background-color: #f2f4f7;
}


.image_creator{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.tittle_creator{
    padding-left: 1rem;
    h1{
        font-size: 1.7rem;
        margin-bottom: 0;
    }
    h4{
        margin-top: 0;
    }
}
.box_icon_networks{
    padding: 5px;
    position: absolute;
    right: 0;
    img{
        width: 25px;
        margin-left: 10px;
        transition: ease-in-out 300ms;
    }
}

.box_icon_networks img:hover{
    transform: scale(1.1);
}

.box_info_proyect{
    padding: 5px;
    margin: 1.2rem;
    h2{
        font-size: 1rem;
    }
    p{
        text-align: left;
        font-size: .9rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    h4{
        text-align: left;
        padding-left: 3rem;
    }
    ul{
        padding-left: 3rem;
        text-align: left;
        font-size: .9rem;
        list-style:circle inside;
        
    }
}

.span_get{
    color: rgb(155, 44, 155);
    font-weight: 700;
}

.span_post{
    color: green;
    font-weight: 700;
}

.box_tecnologies{
    display: flex;
    padding-left: 3rem;
    height: 40px;
    margin-top: 0;
    img{
        transition: ease-in-out 300ms;
        margin: 5px;
    }
}

.box_tecnologies img:hover{
    transform: scale(1.1);
}



@media screen and (max-width: 768px) {
    .conteiner_info{
        width: 100%;
        overflow: none;
    }
    .box_info_creator{
        display: block;
    }
    .box_icon_networks{
        position: relative;
    }
    .box_info_proyect{
        margin: 0;
        p{
            padding-left: 5px;
            padding-right: 5px;
        }
        h4{
            padding-left: 5px;
        }
        ul{
            padding-left: 5px;
        }
        .box_tecnologies{
            justify-content: center;
            padding-left: 0;
        }
    }
}